[Unit]
Description=Sonarr container
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=sonarr
Image=lscr.io/linuxserver/sonarr:latest
#
PublishPort=8989:8989
#
Volume=/var/data/data/:/data
Volume=/var/data/config/sonarr:/config
#
Environment=PUID=5000
Environment=PGID=2000
Environment=UMASK=002
Environment=TZ=Europe/London

[Install]
WantedBy=multi-user.target
