[Unit]
Description=qBittorrent container
Wants=network-online.target gluetun.service
After=network-online.target gluetun.service

[Container]
ContainerName=qbittorrent
#
Image=lscr.io/linuxserver/qbittorrent:latest
#
Volume=/var/data/config/qbittorrent:/config
Volume=/var/data/data:/data
#
Network=container:gluetun
#
Environment=PUID=5000
Environment=PGID=5000
Environment=TZ=Europe/London
Environment=WEBUI_PORT=8080

[Install]
WantedBy=multi-user.target
