[Unit]
Description=Radarr container
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=radarr
Image=lscr.io/linuxserver/radarr:latest
#
PublishPort=7878:7878
#
Volume=/var/data/data/:/data
Volume=/var/data/config/radarr:/config
#
Environment=PUID=5000
Environment=PGID=2000
Environment=UMASK=002
Environment=TZ=Europe/London

[Install]
WantedBy=multi-user.target
