[Unit]
Description=/var/data directory, mounted over NFSv4

[Mount]
What=freyr.home.mpardalos.com:/data
Where=/var/data
Type=nfs4

[Install]
WantedBy=multi-user.target
