[Unit]
Description=Caddy container
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=caddy
Image=docker.io/caddy
AutoUpdate=registry
PublishPort=80:80
PublishPort=443:443
PublishPort=2019:2019
Volume=/data/config/caddy/Caddyfile:/etc/caddy/Caddyfile:Z
Volume=/data/config/caddy/caddy_data:/data:Z
Volume=/data/config/caddy/caddy_config:/config:Z

[Install]
WantedBy=multi-user.target
