[Unit]
Description=Gerbera container
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=gerbera
Image=docker.io/gerbera/gerbera:latest
AutoUpdate=registry
Network=host
Volume=/data/data/media:/content:ro
Volume=gerbera-config:/var/run/gerbera
PodmanArgs=--group-add keep-groups

[Install]
WantedBy=multi-user.target
