[Unit]
Description=Gluetun container
Wants=network-online.target torrent-pod.service
After=network-online.target torrent-pod.service

[Container]
ContainerName=gluetun
Image=docker.io/qmcgaw/gluetun:latest

# Required by gluetun
AddCapability=NET_ADMIN
AddDevice=/dev/net/tun:/dev/net/tun
PodmanArgs=--security-opt label=disable

# AirVPN provider
Environment=VPN_SERVICE_PROVIDER=airvpn
Environment=VPN_TYPE=wireguard
# FIXME: THIS IS A SECRET
Environment=WIREGUARD_PRIVATE_KEY='"..."'
Environment=WIREGUARD_PRESHARED_KEY='"..."'
Environment=WIREGUARD_ADDRESSES='10.184.78.106/32,fd7d:76ee:e68f:a993:e4e0:25eb:59c8:f8df/128'
Environment=SERVER_COUNTRIES='United Kingdom'

# Port forward
Environment=FIREWALL_VPN_INPUT_PORTS=49699

# HTTP proxy
Environment=HTTPPROXY=on
Environment=HTTPPROXY_LOG=on

# Shadowsocks proxy
Environment=SHADOWSOCKS=on
Environment=SHADOWSOCKS_PASSWORD=shadowsocks

# Disable DNS-over-TLS
Environment=DOT=off
Environment=DNS_KEEP_NAMESERVER=on

# Allow access to local network
Environment=FIREWALL_OUTBOUND_SUBNETS=192.168.0.0/24

# Torrent pod
PodmanArgs=--pod=torrent

[Install]
WantedBy=multi-user.target
