[Unit]
Description=Jellyfin container
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=jellyfin
Image=lscr.io/linuxserver/jellyfin:latest
AutoUpdate=registry
#
PublishPort=8096:8096
#PublishPort=8920:8920 #optional
#PublishPort=7359:7359/udp #optional
#PublishPort=1900:1900/udp #optional
#
Volume=/var/data/data/:/data
Volume=jellyfin-config:/config
AddDevice=/dev/dri:/dev/dri
#
Environment=PUID=5000
Environment=PGID=2000
Environment=UMASK=002
Environment=TZ=Europe/London
Environment=JELLYFIN_PublishedServerUrl=jellyfin.home.mpardalos.com

[Install]
WantedBy=multi-user.target
