[Unit]
Description=qBittorrent container
Wants=network-online.target gluetun.service torrent-pod.service
After=network-online.target gluetun.service torrent-pod.service

[Container]
ContainerName=qbittorrent
#
Image=lscr.io/linuxserver/qbittorrent:latest
#
Volume=qbittorrent-config:/config
Volume=/data/data:/data:Z
#
Environment=PUID=5000
Environment=PGID=2000
Environment=UMASK=002
Environment=TZ=Europe/London
Environment=WEBUI_PORT=8080
#
PodmanArgs=--pod=torrent

[Install]
WantedBy=multi-user.target
