[Unit]
Description=Zabbix Web container
After=zabbix-pod.service network-online.target zabbix-server.service zabbix-mysql.service
Wants=zabbix-pod.service network-online.target zabbix-server.service zabbix-mysql.service

[Container]
ContainerName=zabbix-web
Image=docker.io/zabbix/zabbix-web-nginx-mysql:latest
PodmanArgs=--pod=zabbix
Environment=ZBX_SERVER_HOST="127.0.0.1"
Environment=DB_SERVER_HOST="127.0.0.1"
Environment=MYSQL_DATABASE="zabbix"
Environment=MYSQL_USER="zabbix"
Environment=MYSQL_PASSWORD="zabbix_pwd"
Environment=MYSQL_ROOT_PASSWORD="root_pwd"

[Install]
WantedBy=multi-user.target
