[Unit]
Description=Zabbix java-gateway container
After=zabbix-pod.service network-online.target
Wants=zabbix-pod.service network-online.target

[Container]
ContainerName=zabbix-java-gateway
Image=docker.io/zabbix/zabbix-java-gateway:latest
PodmanArgs=--pod=zabbix

[Install]
WantedBy=multi-user.target
